<!DOCTYPE html>
<html lang="${page.lang}">
<head th:fragment="head">
  <meta charset="UTF-8">
  <!--/*@thymesVar id="page" type="me.whizvox.otdl.page.Page"*/-->
  <title th:text="${page.title}">Page title</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/common.js"></script>
  <meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}">
  <meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body class="container">
<header th:fragment="header" class="p-3 bg-dark text-white border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center justify-content-lg-start">
    <a href="/" class="text-decoration-none col-lg-6"><img class="img-fluid" src="/img/logo-dotcom.png" alt="1TDL.com logo"/></a>
    <!--/*@thymesVar id="user" type="me.whizvox.otdl.user.User"*/-->
    <div th:if="${user == null || user.isGuest()}" class="col-lg-6 text-end align-self-center">
      <a href="/login" class="btn btn-outline-light me-2" id="btn-login">Login</a>
      <a href="/register" class="btn btn-info" id="btn-register">Register</a>
    </div>
    <div th:if="${user != null && !user.isGuest()}" class="col-lg-6 text-end align-self-center dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="user-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <span th:text="${user.email}"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="user-dropdown">
        <li><a class="dropdown-item" href="/profile">View profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#" id="btn-logout">Logout</a></li>
      </ul>
    </div>
  </div>
</header>
<footer th:fragment="footer" class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
    <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
  </ul>
  <p class="text-center text-muted">&copy; 2022 Corneilious "whizvox" Eanes</p>
</footer>
</body>
</html>
