<!DOCTYPE html>
<html th:lang="${page.lang}" lang="en">
<head th:replace="fragments/common :: head">
  <title>Control files</title>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<main class="container">
  <p id="error-message" class="alert alert-danger" hidden></p>
  <form id="form-view-files" class="mb-3">
    <div class="mb-3">
      <label for="files-filename" class="form-label">File name query</label>
      <input type="text" id="files-filename" name="fileName" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">When uploaded</label>
      <div class="input-group">
        <span class="input-group-text">After</span>
        <input type="datetime-local" name="uploadedAfter" class="form-control">
        <span class="input-group-text">Before</span>
        <input type="datetime-local" name="uploadedBefore" class="form-control">
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Size (bytes)</label>
      <div class="input-group">
        <span class="input-group-text">Larger than</span>
        <input type="number" name="minSize" class="form-control">
        <span class="input-group-text">Smaller than</span>
        <input type="number" name="maxSize" class="form-control">
      </div>
    </div>
    <div class="mb-3">
      <label for="files-downloaded" class="form-label">Downloaded</label>
      <select id="files-downloaded" class="form-select" name="downloaded">
        <option value="" selected>(Any)</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <button type="submit" class="btn btn-info">Search</button>
  </form>
  <p class="alert alert-secondary" id="no-results" hidden>No results found</p>
  <div id="results-files" hidden>
    <div id="update-buttons" class="mb-3 float-end">
      <button type="button" id="btn-edit-file" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-edit-file">Edit</button>
      <button type="button" id="btn-delete-file" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-file">Delete</button>
    </div>
    <table id="table-files" class="table">
      <thead>
        <tr class="table-dark">
          <td><input type="checkbox" id="select-all-files"></td>
          <td>ID</td>
          <td>File name</td>
          <td>Uploaded</td>
          <td>Size</td>
          <td>Expires</td>
          <td>Downloaded</td>
          <td>User</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="modal fade" id="modal-edit-file" tabindex="-1" aria-labelledby="modal-edit-file-title" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-edit-file-title">Edit file</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p class="alert alert-dismissible" id="alert-edit-file" hidden></p>
          <form id="form-edit-file">
            <input type="hidden" name="id">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="file-edit-filename" name="fileName">
              <label for="file-edit-filename">File name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="datetime-local" class="form-control" id="file-edit-expires" name="expires">
              <label for="file-edit-expires">Expiration datetime</label>
            </div>
            <div class="form-floating mb-3">
              <select id="file-edit-downloaded" name="downloaded" class="form-select">
                <option value="false">No</option>
                <option value="true">Yes</option>
              </select>
              <label for="file-edit-downloaded">Mark as downloaded</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="btn-file-edit-save" form="form-edit-file">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-delete-file" tabindex="-1" aria-labelledby="modal-delete-file-title" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-delete-file-title">Delete file</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p class="alert alert-dismissible" id="alert-delete-file" hidden></p>
          <form id="form-delete-file">
            <p class="mb-3">Are you sure you want to delete the following file(s)?</p>
            <ul></ul>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="position-fixed"></div>
  <script src="/js/control_files.js"></script>
</main>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>