<!DOCTYPE html>
<html lang="en" th:lang="${page.lang}">
<head th:replace="fragments/common :: head">
  <meta charset="UTF-8">
  <title>Forgot password?</title>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<main class="container main-content">
  <div class="col-6 mx-auto">
    <h1 class="mb-3">Forgot password?</h1>
    <div id="alert" class="alert" hidden></div>
    <form id="form-forgot-password">
      <div class="mb-3 form-floating">
        <input type="text" id="email" name="email" minlength="1" class="form-control">
        <label for="email">Email address</label>
      </div>
      <button type="submit" class="btn btn-primary">Request password reset</button>
    </form>
  </div>
  <script src="/js/forgot_password.js"></script>
</main>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>