<html th:insert="fragments/standard_page :: page(~{ :: .main-content})">
<main class="container main-content">
  <div class="col-6 mx-auto">
    <h1 class="mb-3">Forgot password?</h1>
    <div id="alert" class="alert" hidden></div>
    <form id="form-forgot-password">
      <div class="mb-3 form-floating">
        <input type="text" id="email" name="email" minlength="1" class="form-control">
        <label for="email">Email address</label>
      </div>
      <button type="submit" class="btn btn-primary">Request password reset</button>
    </form>
  </div>
  <script src="/js/forgot_password.js"></script>
</main>