<!DOCTYPE html>
<html th:lang="${page.lang}" lang="en">
<head th:replace="fragments/common :: head">
  <title>Log in</title>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<main class="container">
  <h1 class="mb-3">Log in</h1>
  <p th:if="${param.confirmed}" class="alert alert-success alert-dismissible">
    Thank you for confirming your account. You may log in now.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </p>
  <p th:if="${param.error}" class="alert alert-danger alert-dismissible">
    Something went wrong trying to log in
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </p>
  <p th:if="${param.invalid}" class="alert alert-warning alert-dismissible">
    Email or password is invalid
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </p>
  <p th:if="${param.unverified}" class="alert alert-warning alert-dismissible">
    Email has not yet been verified
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </p>
  <p th:if="${param.reset}" class="alert alert-success alert-dismissible">
    Password successfully reset
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </p>
  <form id="form-login" method="post" th:action="@{/login}">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" id="email" name="username" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" name="password" class="form-control">
      <a href="/forgot-password">Forgot your password?</a>
    </div>
    <button type="submit" class="btn btn-info">Login</button>
  </form>
</main>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>