<!DOCTYPE html>
<html lang="en" th:lang="${page.lang}">
<head th:replace="fragments/common :: head">
  <title>Need confirm</title>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<main class="container">
  <p>Thank you for registering. However, your account is not yet confirmed. You will receive an email that details how to
    confirm your account. If you don't see it within a few minutes, check your spam folder.</p>
  <p>If you still don't see it after 10 minutes, please <a href="/contact">contact us</a>. <em>Do not give out your
    password!</em></p>
</main>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>