<!DOCTYPE html>
<html lang="en" th:lang="${page.lang}">
<head th:replace="fragments/common :: head">
  <meta charset="UTF-8">
  <title>Reset password</title>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<main class="container main-content">
  <div id="alert" class="alert" hidden></div>
  <div class="col-6 mx-auto">
    <h1 class="mb-3">Reset password</h1>
    <form id="form-reset-password">
      <input type="hidden" name="token" th:value="${token}">
      <div class="mb-3 form-floating">
        <input type="password" id="password" name="password" th:pattern="${passwordRegex}" class="form-control">
        <label for="password">New password</label>
        <div id="feedback-invalid" class="invalid-feedback" hidden>Invalid password: <span th:text="${passwordRequirements}"></span></div>
      </div>
      <div class="mb-3 form-floating">
        <input type="password" id="confirm-password" class="form-control">
        <label for="confirm-password">Confirm password</label>
        <div id="feedback-mismatch" class="invalid-feedback" hidden></div>
      </div>
      <button type="submit" class="btn btn-primary">Reset password</button>
    </form>
  </div>
  <script src="/js/reset_password.js"></script>
</main>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>