<!DOCTYPE html>
<html lang="en" th:lang="${page.lang}">
<head th:replace="fragments/common :: head"></head>
<body>
<header th:replace="fragments/common :: header"></header>
<main class="container">
  <div id="upload-alert" class="mb-3 alert" hidden>
    Could not upload file: <span id="upload-alert-code" class="fw-bold"></span> <span id="upload-alert-message" class="fst-italic"></span>
  </div>
  <h3 class="alert alert-warning alert-dismissible" th:if="${user != null && !user.isGuest() && !user.isVerified()}">
    Your email has not yet been verified.
  </h3>
  <form id="upload-file">
    <div class="text-center justify-content-center mb-3">
      <label for="file">
        <img class="col-5" src="/img/upload-file.svg" alt="Upload file" id="file-upload-dropzone">
        <p class="text-muted fs-4" id="file-upload-filename">Click or drag and drop</p>
      </label>
      <input type="file" id="file" name="file" hidden>
      <div id="file-invalid" class="text-danger" hidden>Must select a file to upload</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password-confirm" class="form-label">Confirm password</label>
      <input type="password" id="password-confirm" class="form-control">
      <div id="password-confirm-invalid" class="invalid-feedback" hidden>Both passwords need to match</div>
    </div>
    <div class="mb-3" th:if="${user != null && !user.isGuest() && user.isVerified() && user.role.toString() != 'RESTRICTED'}">
      <label for="lifespan" class="form-label">Lifespan (minutes)</label>
      <input type="range" id="lifespan" name="lifespan" min="1" max="720" value="30" class="form-range" th:if="${user.role.toString() == 'MEMBER'}">
      <input type="range" id="lifespan" name="lifespan" min="1" max="14400" value="30" class="form-range" th:if="${user.role.toString() == 'CONTRIBUTOR'}">
      <span id="lifespan-value" th:if="${user.role.toString() == 'MEMBER'}"></span>
      <input type="number" id="lifespan" name="lifespan" min="1" value="30" class="form-control" th:if="${user.role.toString() == 'ADMIN'}">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-info text-white">Upload</button>
    </div>
  </form>
  <script src="/js/upload.js"></script>
</main>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>